.global{
    height: 180vh;
    display: flex;
}

.autor {
    height: 100%;
    background-color: rgb(58, 45, 45);
    width: 20%;
    color: white;

    margin-top: -8px;
    margin-left: -8px;
    
   }

.autor img{
    margin: 0px 10px 10px 0;
    width: 100%;
   }
.autor p{
    margin-left: 15px;
}
.autor h2{
    margin-left: 15px;
}
.autor button{
    border-radius: 20px;

    
    border-color: white;
    color: white;
    background-color: rgb(58, 45, 45);
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
}
.center h2 p{
    margin-left: 60px;
}

.stars{
    display: flex;
    justify-content: center;
}

.stars img{
    filter: invert(100%);
    max-width: 5%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    max-width: 75%;

}
.teste{
   margin-right: 15px
}
 
.icones{
    display: flex;
    justify-content: center;
    height: 20vh;
    margin-left: 8px;
}

.icone{
    filter: invert(100%) ;
    max-width: 35%;
}
.minhalista{
    display: flex;
    justify-content: center;
}
