.obras{
    width: 200vh;
    padding: 20px 0px 0px 20px;
    height: 120vh;

}
.logo{
    margin: 0px 10px 10px 0;
    width: 15%;
}

.listalivros{
    display: flex;
    align-items:baseline;
}
.listalivros2{
    display: flex;
    align-items:baseline;
}

.livro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 25vh;
    margin: 8px;
}

.livro img{
    width: 100%;
    height: 45vh
}
.livro h3{
    display:flex;
    text-align: center;

}

.livro p{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;

    text-justify: center;
}

/**Efeito para aumentar livro selecionado na transição de tela **/
.livroTransition a{
    transition: transform 2s;
}
.livroTransition a:target{
    transform: scale(3);
}

/**Paginação da listagem **/
.listagemLivros{
    display: flex;
    align-items: center;
    justify-content: center;
}
.listagemLivros button{
    border: none;
}
.listagemLivros button:hover{
    filter: brightness(85%);
}
.listagemLivros p{
    margin: 5px;
}

.numeroPag {
    display: flex;
    align-items: center;
}
.numeroPag hr{
    margin: -8px;
    width: 20px;
    height: 1.8px;
    background-color: black;
    border: none;
}
.paginaAtual{
    font-weight: bold;
    width: 15px;
}