.obras{
    width: 200vh;
    padding: 20px 0px 0px 20px;
    height: 120vh;

}
.logo{
    margin: 0px 10px 10px 0;
    width: 15%;
}

.listalivros{
    display: flex;
    align-items:baseline;
}

.listalivros2{
    display: flex;
    align-items:baseline;
}
.listalivros2 button img{
    max-width: 80%;
    max-height: 100%;
}

.livro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 25vh;
    margin: 8px;
}

.livro img{
    width: 100%;
    height: 45vh
}
.livro h3{
    display:flex;
    text-align: center;

}

.livro p{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;

    text-justify: center;
}

.livroTransition a{
    transition: transform 2s;
}
.livroTransition a:target{
    transform: scale(3);
}